.checkoutContainer {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  justify-content: space-between;
}

.formSection {
  background: #f7f5f8;
  padding: 1.5rem;
  border-radius: 10px;
  flex: 1;
  max-width: 50%;
}

.formSection input {
  width: 100%;
  margin-bottom: 0.7rem;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.errorInput {
  border: 1px solid red;
}

.formSection button {
  margin-top: 1rem;
  padding: 0.7rem;
  width: 100%;
  cursor: pointer;
  border: none;
  background: #333;
  color: white;
  border-radius: 5px;
}

.resumenSection {
  background: #f7f5f8;
  padding: 1.5rem;
  border-radius: 10px;
  flex: 1;
  max-width: 50%;
}

.productos {
  max-height: 300px;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.item img {
  width: 80px;
  height: 60px;
  object-fit: contain;
}

.resumenFinal {
  margin-top: 1.5rem;
}

.metodoPago {
  margin-top: 1.5rem;
}

.metodoPago button {
  display: block;
  margin-top: 0.5rem;
  padding: 0.6rem;
  width: 100%;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}